<p>cadastro-contatos works!</p>

<form class="mt-3" [formGroup]="formCadastro" (ngSubmit)="onSubmit()">
    <div class="row mb-2">
        <div class="col-md-6">
            <label for="nomeContato"> Nome do contato</label>
            <input type="text" class="form-control" formControlName="nome">

            <div class="text-danger" *ngIf="form.nome.touched && form.nome.invalid">
                <div *ngIf="form.nome.errors.required">
                    Por favor, informe nome de contato
                </div>
                <div *ngIf="form.nome.errors.minlength">
                    Por favor, informe no mínimo 6 caracteres.
                </div>
                <div *ngIf="form.nome.errors.maxlength">
                    Por favor, informe no máximo 120 caracteres.
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label for="Email"> Email</label>
            <input type="text" class="form-control" formControlName="email">
            <div class="text-danger" *ngIf="form.email.touched && form.email.invalid">
                <div *ngIf="form.email.errors.required">
                    Por favor, informe email de contato
                </div>
                <div *ngIf="form.email.errors.email">
                    Por favor, informe um email válido.
                </div>
            
            </div>
        </div>
        <div class="col-md-3">
            <label for="telefoneContato"> Telefone</label>
            <input type="text" class="form-control" formControlName="telefone" mask="(00)00000-0000">
            <div class="text-danger" *ngIf="form.telefone.touched && form.telefone.invalid">
                <div *ngIf="form.telefone.errors.required">
                    Por favor, informe telefone de contato
                </div>
              
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-12">
            
            <input type="submit" 
                   value="Realizar Cadastro" 
                   class="btn btn-success"
                   [disabled]="!formCadastro.valid" >
        </div>
    </div>
    

    
</form>
<div *ngIf="messages" class="mt-3 alert alert-success alert-dismissible fade show" role="alert">
    <button type="button" (click)="messages = ''" class="btn-close" aria-label="Close"></button>
    <strong>{{messages}}</strong>
    <hr/>
    <div>Id do contato: {{contato.idContato}}</div>
    <div>Nome: {{contato.nome | uppercase}}</div>
    <div>Email: {{contato.email | lowercase}}</div>
    <div>Telefone: {{contato.telefone | mask : '(00)00000-0000'}}</div>
    <div>Data de criação: {{contato.dataCriacao | date : 'dd/MM/yyyy HH:mm'}}</div>
</div>
